---
import PageLayout from '../../layouts/PageLayout.astro';
import TitleLined from '../../components/TitleLined.astro';
import IconGithub from '../../components/icons/IconGithub.astro';
import IconLinkedin from '../../components/icons/IconLinkedin.astro';
import { useTranslations } from "../../utils";
import { i18n } from "astro:config/client";

export function getStaticPaths() {
  return i18n?.locales
  .filter((locale) => locale as string !== i18n?.defaultLocale)
  .map((locale) => ({ params: { locale: locale as string } }));
}


const { locale } = Astro.params;
const t = await useTranslations(locale);
---
<PageLayout title={t('page_titles.about_me')}>

  <p>
    {t('sidebar.bio')}
  </p>
  <TitleLined class="title-lined">
    <h2>{t('page_titles.contacts')}</h2>
  </TitleLined>
  <p>
    <a class="social-links__item" href="https://github.com/lucabro81" target="_blank" aria-label="GitHub"><IconGithub /></a>
    <a class="social-links__item" href="https://www.linkedin.com/in/lucabrognara/" target="_blank" aria-label="LinkedIn"><IconLinkedin /></a>
  </p>
</PageLayout>