@layer base, utils, components;

@import "@webtui/css/base.css";

/* Utils */
@import "@webtui/css/utils/box.css";

/* Components */
@import "@webtui/css/components/input.css";
@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/button.css";
@import "@webtui/css/components/dialog.css";
@import "@webtui/css/components/separator.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/plugin-nf";

@import "@webtui/theme-catppuccin";
@layer base {
  :root {
    --font-family: Menlo, Monaco, monospace, "Symbols Nerd Font";
    --svg-icon-close-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
  }

  a,
  a:visited {
    color: var(--sky);
  }

  div[is-~="post-container"] > pre {
    padding: 1rem;
    margin: 1rem 0;
  }

  pre {
    white-space: pre-wrap;
  }

  div[is-~="page-container"] p:not(:first-of-type),
  div[is-~="post-container"] p:not(:first-of-type) {
    margin-top: 1rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  li {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 0.5rem;
  }

  .navigation {
    padding-top: 2rem;
  }
}

@layer components {
  input {
    background-color: var(--background0);
  }

  div[is-~="horizontal-menu"] {
    margin-top: 0.5rem;
  }
  .title-lined {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
