@layer base {
  div[is-~="title-lined"] {
    position: relative;
  }
  div[is-~="title-lined"] > * {
    position: relative;
    margin-left: 1rem;
    display: inline-block;
    background-color: var(--background0);
    padding: 0 0.5rem;
  }
  div[is-~="title-lined"]:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--peach);
    top: 50%;
    content: "";
  }
  .post-container hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  ul {
    margin-top: 0.5rem;
  }
  ul.index-list {
    list-style: none;
  }
  ul.index-list li {
    margin-bottom: 0.5rem;
  }
  .table-of-contents {
    margin-bottom: 2rem;
  }
}
