---
import PageLayout from '../../layouts/PageLayout.astro';
import TitleLined from '../../components/TitleLined.astro';
import IconGithub from '../../components/icons/IconGithub.astro';
import IconLinkedin from '../../components/icons/IconLinkedin.astro';
---
<PageLayout title="About Me">
  <TitleLined class="title-lined">
    <h2>About Me</h2>
  </TitleLined>

  <p>
    A developer who should reflect more on his questionable life choices.
  </p>
  <p>
    <a class="social-links__item" href="https://github.com/lucabro81" target="_blank" aria-label="GitHub"><IconGithub /></a>
    <a class="social-links__item" href="https://www.linkedin.com/in/lucabrognara/" target="_blank" aria-label="LinkedIn"><IconLinkedin /></a>
  </p>
</PageLayout>