---
import { useTranslations } from "../utils";
import { getRelativeLocaleUrl } from 'astro:i18n';

const { currentLocale } = Astro;
const t = await useTranslations(Astro.currentLocale);
---

<dialog id="cookie-banner" class="cookie-banner" position-="end" popover>
  <div box-="round" id="content" class="cookie-banner__content">
    <p>
      {t('cookie_banner.text')} 
      <a href={getRelativeLocaleUrl(currentLocale ?? 'it', 'privacy-policy')}>{t('cookie_banner.privacy_link')}</a>.
    </p>
    <div id="buttons" class="cookie-banner__buttons">
      <button id="refuse-cookies" box-="round" variant-="danger">{t('cookie_banner.refuse')}</button>
      <button id="accept-cookies" box-="round">{t('cookie_banner.accept')}</button>
    </div>
  </div>
</dialog>

<style>
  .cookie-banner {
    bottom: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    --dialog-offset-y: 0;
    position: fixed;
  }

  .cookie-banner::backdrop {
    background-color: transparent;
  }

  .cookie-banner__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--background1);
    width: 100%;
  }

  .cookie-banner__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    .cookie-banner__content {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }

    .cookie-banner__buttons {
      width: 100%;
      justify-content: center;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const banner = document.getElementById('cookie-banner') as HTMLDialogElement;
    const acceptButton = document.getElementById('accept-cookies');
    const refuseButton = document.getElementById('refuse-cookies');

    const hasConsentCookie = document.cookie.split(';').some((item) => item.trim().startsWith('cookie_consent='));

    if (!hasConsentCookie) {
      banner.showPopover();
    }

    const sixMonthsInSeconds = 6 * 30 * 24 * 60 * 60;

    acceptButton?.addEventListener('click', () => {
      document.cookie = `cookie_consent=true;path=/;max-age=${sixMonthsInSeconds}`;
      banner.hidePopover();
    });

    refuseButton?.addEventListener('click', () => {
      document.cookie = `cookie_consent=false;path=/;max-age=${sixMonthsInSeconds}`;
      banner.hidePopover();
    });
  });
</script> 