<footer>
  <hr />
	<div class="footer-content">
		<div class="newsletter-signup">
			<h3>Subscribe to our Newsletter</h3>
			<p>Get the latest posts delivered right to your inbox.</p>
			<form>
        <label box-="round" shear-="top">
          <div class="row">
            <span is-="badge" variant-="background0" class="label">Subscribe</span>
          </div>
          <input type="email" placeholder="your.email@example.com" required aria-label="Email for newsletter" />

      </label>
				<button type="submit">Subscribe</button>
			</form>
		</div>
		<div class="copyright">
			<p>&copy; 2025 MUDDD Blog. All rights reserved.</p>
		</div>
	</div>
</footer>

<style>
	input {
	  background-color: var(--background0);
	}
	.footer-content {
		padding: 1rem 0;
		text-align: center;
	}
	.newsletter-signup {
		margin-bottom: 2rem;
	}
	.newsletter-signup form {
		display: flex;
		justify-content: center;
    text-emphasis: left;
		gap: 0.5rem;
		margin-top: 1rem;
	}
	.label {
		float: left;
	}
</style> 