<footer>
  <hr />
	<div class="footer-content">
		<div class="newsletter-signup">
			<h3>Subscribe to our Newsletter</h3>
			<p>Get the latest posts delivered right to your inbox.</p>
			<form>
        <label box-="round" shear-="top">
          <div class="row">
            <span is-="badge" variant-="background0" class="label">Subscribe</span>
          </div>
          <input type="email" placeholder="your.email@example.com" required aria-label="Email for newsletter" />

      </label>
				<button type="submit">Subscribe</button>
			</form>
		</div>
		<div class="footer-bottom">
			<div class="copyright">
				<p>&copy; 2025 MUDDD Blog. All rights reserved. <a href="/privacy-policy">Privacy Policy</a></p>
			</div>
			<div class="footer-links">
				<a href="#">Powered by webTUI</a>
				<a href="#">GitHub Repository</a>
			</div>
		</div>
	</div>
</footer>

<style>
	input {
	  background-color: var(--background0);
	}

	footer > hr:first-child {
		margin-top: 2rem;
	}

	.footer-content {
		padding: 1rem 0;
		text-align: center;
	}
	.newsletter-signup {
		margin-bottom: 2rem;
	}
	.newsletter-signup form {
		display: flex;
		justify-content: center;
    text-emphasis: left;
		gap: 0.5rem;
		margin-top: 1rem;
	}
	.label {
		float: left;
	}
	.footer-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media (max-width: 768px) {
		.footer-links {
			display: none;
		}
		.footer-bottom {
			justify-content: center;
		}
	}
</style> 