---
import PageLink from "./PageLink.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations } from "../utils";

const { currentLocale } = Astro;
const t = await useTranslations(Astro.currentLocale);
---

<div is-="horizontal-menu">
  <hr />
  <ul>
    <li>
      <PageLink href={getRelativeLocaleUrl(currentLocale ?? 'it', "")}>{t('menu.home')}</PageLink>
    </li>
    <li>
      <PageLink href={getRelativeLocaleUrl(currentLocale ?? 'it', 'il-progetto')}>{t('menu.project')}</PageLink>
    </li>
    <!-- <li>
      <PageLink href={getRelativeLocaleUrl(currentLocale ?? 'it', 'milestones')}>{t('menu.milestones')}</PageLink>
    </li> -->
    <li class="right-end">
      <ul>
        <li>
          <PageLink href={getRelativeLocaleUrl(currentLocale ?? 'it', 'ai-disclaimer')}>{t('menu.ai_disclaimer')}</PageLink>
        </li>
      </ul>
    </li>

  </ul>
  <hr />
</div>

<style>
    div[is-~="horizontal-menu"] ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
      padding: 0.125rem 0;
    }
    div[is-~="horizontal-menu"] ul li {
      gap: 0;
      margin: 0;
      padding: 0;
    }
    ul li:before {
      content: "/";
      margin-right: 0;
    }
    li.right-end:before {
      content: "";
      margin: 0;
    }
    li.right-end {
      margin-left: auto;
    }

  @media (max-width: 768px) {
    div[is-~="horizontal-menu"] {
      display: none;
    }
  }
</style>