<a href="/">
  <pre class="logo">
███╗   ███╗ ██╗   ██╗ ██████╗  ██████╗  ██████╗ 
████╗ ████║ ██║   ██║ ██╔══██╗ ██╔══██╗ ██╔══██╗
██╔████╔██║ ██║   ██║ ██║  ██║ ██║  ██║ ██║  ██║
██║╚██╔╝██║ ██║   ██║ ██║  ██║ ██║  ██║ ██║  ██║
██║ ╚═╝ ██║ ╚██████╔╝ ██████╔╝ ██████╔╝ ██████╔╝
╚═╝     ╚═╝  ╚═════╝  ╚═════╝  ╚═════╝  ╚═════╝  Blog
</pre>
</a>

<style>
  a {
    text-decoration: none;
  }
  .logo {
    width: fit-content;
    line-height: 1rem;
    background: linear-gradient(45deg, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (max-width: 768px) {
    .logo {
      line-height: 0.75rem;
    font-size: 0.75rem;
    }
  }
</style>