<div class="header-actions">
  <form class="search-form">
    <label box-="round" shear-="top">
      <div class="row">
         <span is-="badge" variant-="background0">Search</span>
        </div>
    <input type="search" aria-label="Search" />
  </label>
    <button type="submit">Search</button>
  </form>
</div>

<style>
  .header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .search-form {
		display: flex;
		gap: 0.5rem;
	}
</style>