<aside>
  <h3>About Me</h3>
  <p>Solo un dev che dovrebbe riflettere di più sulle proprie discutibili scelte di vita.</p>
  <h3>Categories</h3>
  <ul>
    <li>Astro</li>
    <li>Web Dev</li>
    <li>General</li>
  </ul>
</aside> 
<style>
  @layer base {
    aside h3 {
      margin-bottom: 0.5rem;
    }
    aside h3:not(:first-child) {
      margin-top: 1rem;
    }
  }
</style>