<aside>
  <h3>About Me</h3>
  <p>Just a developer writing about tech. Welcome to my corner of the internet!</p>
  <hr />
  <h3>Categories</h3>
  <ul>
    <li>Astro</li>
    <li>Web Dev</li>
    <li>General</li>
  </ul>
</aside> 