---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import HorizontalMenu from '../components/HorizontalMenu.astro';
import MobileMenu from '../components/MobileMenu.astro';
import Hamburger from '../components/Hamburger.astro';
import SearchForm from '../components/SearchForm.astro';

const { title } = Astro.props;
---
<html lang="en" data-webtui-theme="catppuccin-mocha">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | MUDDD Blog</title>
		<slot name="head-css" />
	</head>
	<body>
		<div is-="site-container">

			<div class="header-container-mobile">
				<Hamburger />
				<SearchForm />
			</div>
			<Header />
			<MobileMenu />
			<HorizontalMenu />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.querySelector('.hamburger');
    const mobileMenu = document.getElementById('mobile-menu');

    if (hamburger && mobileMenu) {
      hamburger.addEventListener('click', () => {
        mobileMenu.classList.toggle('is-open');
      });
    }
  });
</script>

<style>
@layer base {
	div[is-~="site-container"] {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0 auto;
		padding: 1rem;
	}

	main {
		flex-grow: 1;
		padding: 1rem 0;
	}



	.header-container-mobile {
			display: none;
		}
	
}

@media (max-width: 768px) {
	.header-container-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

</style> 