---
import BaseLayout from './BaseLayout.astro';
import TitleBar from '../components/TitleBar.astro';

const data = Astro.props;
---
<BaseLayout title={data.title}>
  <article>
    <time datetime={data.pubDate}>
      {new Date(data.pubDate).toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      })}
    </time>
    <TitleBar class="no-margin-top">{data.title}</TitleBar>
    <div is-="post-container">  
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  time {
    display: block;
    margin-top: 0;
    color: var(--foreground2);
  }
  :global(.no-margin-top) {
    margin-top: 0;
  }
</style>