---
import BaseLayout from './BaseLayout.astro';
import TitleBar from '../components/TitleBar.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title}>
  <article>
    <TitleBar>{frontmatter.title}</TitleBar>
    <div is-="post-container">
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  @layer base {
    div[is-~="post-container"] {
      padding: 1rem 0;
    }

    h1 {
      margin: 1rem 0 0.5rem 0;
    }
    
  }
</style>