---
import BaseLayout from './BaseLayout.astro';
import TitleBar from '../components/TitleBar.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title}>
  <article>
    <time datetime={frontmatter.pubDate}>
      {new Date(frontmatter.pubDate).toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      })}
    </time>
    <TitleBar class="margin-top-1-75">{frontmatter.title}</TitleBar>
    <div is-="post-container">
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  time {
    display: block;
    margin-top: 0.25rem;
    color: var(--foreground2);
  }
  :global(.margin-top-1-75) {
    margin-top: 0.75rem;
  }
</style>