---
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import TitleBar from '../components/TitleBar.astro';
import { getPostUrl, useTranslations } from "../utils";
import "../styles/posts.css";

const t = await useTranslations(Astro.currentLocale);

interface PostData {
    pubDate: string;
    title: string;
    description: string;
    category: string[];
    lang: string;
}
interface Props {
	allPosts: {data: PostData, slug: string}[];
}

const { allPosts } = Astro.props;


---

<BaseLayout title="Home">
	<div class="main-content">
		<section class="posts-list">
			<TitleBar>{t('page_titles.latest_posts')}</TitleBar>
			<ul>
				{allPosts.slice(0, 5).map((post) => (
					<li>
						<div>
							<time datetime={post.data.pubDate}>
								{new Date(post.data.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'long',
									day: 'numeric',
								})}
							</time>
							<h2><a href={getPostUrl(post)}>{post.data.title}</a></h2>
							<em>{post.data.description}</em>
						</div>
					</li>
				))}
			</ul>
		</section>
		<div is-="separator" direction-="vertical" class="separator-vertical"></div>
		<span class="sidebar-container">
			<Sidebar />
		</span>
	</div>
</BaseLayout>

<style>
  .main-content {
    display: grid;
    grid-template-columns: 3fr min-content 1fr;
    gap: 0.5rem;
  }
	

	@media (max-width: 768px) {

		.main-content {
			grid-template-columns: 1fr;
			gap: 0;
  }
		div[is-~="separator"] {
			display: none;
		}
		.sidebar-container {
			display: none;
		}
	}
</style>

