---
import BaseLayout from './BaseLayout.astro';
import TitleBar from '../components/TitleBar.astro';

const { title } = Astro.props;
---
<BaseLayout title={title}>
  <article>
    <TitleBar>{title}</TitleBar>
    <div is-="page-container">
      <slot />
    </div>
      
    <div class="navigation">
      <a href="/" class="back-link">← Back to Home</a>
    </div>
  </article>
</BaseLayout>